body{
font-family:Arial;
text-align:center;
background:#fff0f6;
}

input{
display:block;
margin:10px auto;
padding:10px;
width:80%;
}

button{
padding:10px;
background:#ff4d6d;
color:white;
border:none;
cursor:pointer;
}
